

/* =======================
==========================
1. HERO SECTION
==========================
========================== */

.hero-grid-section {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 2rem;
}

.hero-grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5%;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  align-items: end;
  min-height: 50vh;
}

.hero-grid-header {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  z-index: 12;
}

.hero-grid-header h1 {
  color: var(--black);
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

.hero-grid-text {
  grid-column: 1 / 5;
  grid-row: 3;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-left: 3.6%;
  z-index: 12;
}

.hero-grid-small-text {
  grid-column: 12;
  grid-row: 3;
  font-size: 0.9rem;
  color: var(--black);

}

.hero-grid-text p {
  color: var(--black);
  margin: 0;
}

.hero-grid-cta {
  grid-column: 8 / 13;
  grid-row: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 14;
}

.trail-img {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transform-origin: center;
  pointer-events: none;
  will-change: transform;
  z-index: 12;
}


/* =======================
==========================
2. COMPARISON 4 IMAGES SECTION
==========================
========================== */



.komparacija {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.komparacija-header {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  z-index: 8;
  padding: 2rem;
  margin-top: -24rem;
}

.komparacija-header h2 {
  font-size: 1.4rem;
  color: var(--black);
  margin: 0;
}

.komparacija-slike {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

}

.komparacija-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 270px;
  transform: translate(-50%, -50%);
  will-change: transform;
  opacity: 0;
  z-index: 9;
}

.komparacija-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* =======================
==========================
3. SELECTED WORKS SECTION
==========================
========================== */

.selected-works-section {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 2rem;
  position: relative;
  z-index: 14;
}

.selected-works-header {
  max-width: 1400px;
  margin: 0 auto 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-works-title {

  color: var(--black);
  margin: 0;
}




/* =======================
==========================
4. WORK SECTION
==========================
========================== */

.blog-header-sticky {
  position: fixed;
  top: 1rem;
  right: 2rem;
  height: fit-content;
  z-index: 9996;
}

.blog-header-sticky h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

.work-list-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8rem 4rem 4rem 4rem;
  z-index: 14;
  scroll-behavior: smooth;
}

.work-list-scroll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.work-header-link {
  display: inline-block;
  box-shadow: inset 0 0 0 0 var(--accent-yellow);
  color: var(--black);
  padding: 1rem 2rem;
  margin: 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-family: 'Grotesk', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -0.02em;
  line-height: 1;
  width: fit-content;
}

.work-header-link:hover {
  color: var(--black);
  box-shadow: inset 800px 0 0 0 var(--accent-yellow);
}

.work-image-display {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 9997;
  pointer-events: none;
  overflow: hidden;
}

.work-image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-image-display.variant-1 {
  height: 250px;
  width: 350px;
}

.work-image-display.variant-2 {
  height: 300px;
  width: 200px;
}

.work-image-display.variant-3 {
  height: 300px;
  width: 300px;
}