

@font-face {
  font-family: 'Grotesk';
  src: url('/font/grotesk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



* {
  font-family: 'Grotesk', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  text-decoration: none;
  font-weight: 500;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --accent-yellow: #ffea00;

}

p {
  line-height: 1.6;
  letter-spacing: 1.8;
}


.link {
  display: inline-block;
  color: var(--black);
  padding: 0.5rem 0.75rem;
  margin: 0 0.75rem;
  font-family: 'Grotesk', sans-serif;
  font-weight: 500 !important;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.2;
  width: fit-content;
}
